<% provide(:title, 'Home') %>

<div class="col-md-12">
  <div class="jumbotron" style="background: rgba(238, 238, 238, 0.5)!important;">
  	<h1>Coral Trait Database</h1>
    <br>

    <h2>The database is being migrated to a new system, so please be patient and email jmadin@hawaii.edu with any issues you find.</h2>

    <p>The Coral Trait Database is a growing compilation of hexacoral and octocoral life history trait, phylogenetic and biogeographic data.</p>

  	<p>As of today, there are <%= @observations.size %> observations with <%= @measurements.size %> trait entries for <%= @species.size %> species in the database.</p>

    <p><div id="map"></div></p>

  </div>
</div>

<script type="text/javascript">
  function initMap() {
    var locations = <%= raw @locations.map {|i| [i.location_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s] } %>;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(0, 155),
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      streetViewControl: false
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<a data-no-turbolink="true" href="locations/'+locations[i][3]+'">'+locations[i][0]+'</a>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJG1Hc3Z4RxhlbmvsHvzXakd_pCZjD_5I&callback=initMap&loading=async"></script>
